.navbar li {
  display: inline-block;
  text-align: center;
}

.itemLeft {
  width: 15%;
}

.itemCenter {
	width: 70%;
}

.itemRight {
  width: 15%;
}

.navbar {
  background:#3b3f2e;
  border-bottom: 1px solid rgb(63, 63, 63);
}

li {
  color: white;
  padding: 15px 0;
}

body {
  font-size: 24px;
}

.desc{
  height:2em
}
